docker.enabled = true

params {
  // Pipeline options
  outdir = 'results'

  // Cell curation
  celllines = 'testdata/annotation/cell_annotation_all.csv'

  // Tissue curation
  tissues = 'testdata/annotation/cell_annotation_all.csv'

  // Drug curation
  drugs = 'testdata/annotation/drugs_with_ids.csv'

  // Cell line info
  celllinespublished = 'testdata/GRAY/Drug_Published/gb-2013-14-10-r110-s1.xlsx'

  // Recomputation
  drugraw = 'testdata/GRAY/Drug_Recomputed/2017/Gray_data_raw_dose_response.csv'
  drugconc = 'testdata/GRAY/Drug_Recomputed/2017/Gray_drug_conc.csv'
  raw_gr = 'testdata/GRAY/Drug_Recomputed/2017/DS2_datafile.tsv'
  cellcross = 'testdata/GRAY/Drug_Recomputed/2017/DS0_crossreferencingCELLS.txt'
  drugcross = 'testdata/GRAY/Drug_Recomputed/2017/DS0_crossreferencingPERTURBAGENS.txt'

  // Compile RNA-Seq
  rnaseqmatrix = 'testdata/GRAY/RNAseq/JWGray_BCCL_rnaseq_matrix_v1-2.txt'
  rnaseqpdata = 'testdata/GRAY/RNAseq/RNA_info.csv'
  rnaseqfdata = 'testdata/annotation/annot_ensembl_all_genes.csv'
  rnaseqexp = 'testdata/GRAY/RNAseq/JWGray_BCCL_rnaseq_expressed_v1-2.txt'
  rnaseqcounts = 'testdata/GRAY/RNAseq/JWGray_BCCL_counts_matrix_v1.txt'

  // Compile RPPA
  rppaexp = 'testdata/GRAY/RPPA/13059_2013_3164_MOESM2_ESM.xlsx'
  rppapdata = 'testdata/GRAY/RPPA/protein_info.csv'
  rppafdata = 'testdata/GRAY/RPPA/protein_feature.csv'

  // Compile RNA
  rnau133aexp = 'testdata/GRAY/RNA/u133a/breastCellLineExpression2.txt'
  rnau133apdata = 'testdata/GRAY/RNA/u133a/E-TABM-157.sdrf.txt'
  rnau133afdata = 'testdata/GRAY/RNA/u133a/A-AFFY-33.adf.txt'
  rnaexonexp = 'testdata/GRAY/RNA/exon/cellLine_data_matrix.txt'
  rnaexonpdata = 'testdata/GRAY/RNA/exon/E-MTAB-181.sdrf.txt'
  rnaexonfdata = 'testdata/annotation/annot_ensembl_all_genes.csv'

  // Compile CNV
  snpexp = 'testdata/GRAY/CNV/JWGray_BCCL_SNP6_segmented_v2_gene_level.txt'
  cnvpdata = 'testdata/GRAY/CNV/CNV_info.csv'
  cnvfdata = 'testdata/annotation/annot_ensembl_all_genes.csv'

  // Compile Methylation
  methylationmatrix = 'testdata/GRAY/Methylation/GSE42944_FackFinal.txt'
  methylationpdata = 'testdata/GRAY/Methylation/methylation_info.csv'
  methylationfdata = 'testdata/GRAY/Methylation/GPL8490_HumanMethylation27_270596_v.1.2.csv'
}
