docker.enabled = true

params {
  cell_annotation = 'testdata/annotation/cell_annotation_all.csv'
  drug_annotation = 'testdata/annotation/drugs_with_ids.csv'
  published_info = 'testdata/GRAY/Drug_Published/gb-2013-14-10-r110-s1.xlsx'
  drug_raw = 'testdata/GRAY/Drug_Recomputed/2017/Gray_data_raw_dose_response.csv'
  drug_conc = 'testdata/GRAY/Drug_Recomputed/2017/Gray_drug_conc.csv'
  gr_values = 'testdata/GRAY/Drug_Recomputed/2017/DS2_datafile.tsv'
  crosscell = 'testdata/GRAY/Drug_Recomputed/2017/DS0_crossreferencingCELLS.txt'
  crossdrug = 'testdata/GRAY/Drug_Recomputed/2017/DS0_crossreferencingPERTURBAGENS.txt'
}
